.App {
  font-family: sans-serif;
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.status {
  margin: 20px;
  font-size: 24px;
}

.board-row {
  display: flex;
}

.square {
  width: 60px;
  /* 格子大小- 5x5 */
  height: 60px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border: 2px solid #333;
  cursor: pointer;
}

.square:hover {
  background-color: #e4bbbb;
}

.game-info {
  margin-top: 20px;
}

.reset {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #b689a0;
  color: white;
  border: none;
  cursor: pointer;
}

.reset:hover {
  background-color: #a04553;
}